<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Your Trips" | translate}}</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{"Select Vehicle" | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getID(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;" padding-left padding-right>
    <ion-col width-20>

      <ion-label>
        <span style="font-size: 13px">{{"From Date" | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{"To Date" | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getTrips();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-card *ngFor="let t of _tripListKey; let i=index">
    <ion-row>
      <ion-col col-4 style="background-color: #006CB5;">
        <ion-row>
          <ion-col col-12 style="text-align: center;">
            <ion-icon name="car" color="light" style="font-size: 1.8em;"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="text-align: center;">
          <ion-col col-12 style="color:white; font-size: 1.8em; font-weight: 300">
            {{t.date3}}
          </ion-col>
          <ion-col col-12 style="color: #f2f2f2; font-size: 1.1em;">
            {{t.date1}}
          </ion-col>
          <ion-col col-12 style="color:white;font-size: 1.1em;">
            <b>{{t.date2}}</b>
          </ion-col>
        </ion-row>
        <ion-row style="border-top: 2px solid white; text-align: center; color:white;">
          <ion-col col-12>
            {{t.dtime}}
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-8>
        <ion-row>
          <ion-col col-12 style="font-size: 1.2em">
            {{t.trip_name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="font-size: 1.5em">
            {{t.saddkey}} - {{t.eaddkey}}
          </ion-col>
          <ion-col col-12>
            <ion-row class="card11">
              <ion-col col-1>
                <ion-icon name="pin" color="secondary"></ion-icon>
              </ion-col>
              <ion-col col-11 (onCreate)="start_address(t, i)"  style="font-size: 0.8em;">
                <div class="overme">
                  {{ t.StartLocation }}
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-12>
            <ion-row class="card11">
              <ion-col col-1>
                <ion-icon name="pin" color="danger"></ion-icon>
              </ion-col>
              <ion-col col-11 (onCreate)="end_address(t, i)"  style="font-size: 0.8em;">
                <div class="overme">
                  {{ t.EndLocation }}
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 style="text-align: right;">
            <button ion-button small clear color="secondary" *ngIf="t.trip_status == 'Started'">Ongoing</button>
            <button ion-button small clear color="gpsc" *ngIf="t.trip_status != 'Started'">{{t.trip_status}}</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
